@font-face {
    font-family: digital;
    src: url("../fonts/yoster.ttf") format("truetype");
}

#container {
    position: relative;
    font-family: digital;
}

#starteando {
    position:absolute;
    border:none;
    background-color: rgb(235, 247, 136,0.01);
    color: white;
    font-family: digital;
    margin-top: 400px;
    margin-left: 125px;
    width:250px;
    height:40px;
}

#starteando2 {
    position:absolute;
    font-family: digital;
    background-color: rgb(235, 247, 136,0.01);
    color: white;
    border:none;
    margin-top: 400px;
    margin-left: 125px;
    width:250px;
    height:40px;
}

#areaPersonagem {
    border: 2px solid white;
    border-radius: 8%;
    display: flex;
    position:absolute;
    margin-top: 475px;
    margin-left: 25px;
}

#areaPersonagem p{
    color: rgb(8, 8, 8);
    background-color: rgb(235, 247, 136,0.4);
    font-family: digital;
    font-size: 1em;
    width:150px;
    height:20px;
    padding:15px 0px;
    margin:0px;
    border: 2px solid white;
    text-align: center;
    vertical-align: middle;
}

#namerugas {
    display: flex;
    position:absolute;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-top: 100px;
    margin-left: 10px;
    width: 90px;
    height: 240px;
    
}

#namerugas p{
    background-color: rgb(235, 247, 136,0.4);
    text-align: center;
    font-size: 0.9em;
}

#inputsGold {
    display: flex;
    position:absolute;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-top: 100px;
    margin-left: 100px;
    width: 80px;
    height: 240px;
}

#inputsGold input{
    width:50px;
    font-family: digital;
    border: none;
}

#betsGold {
    display: flex;
    position:absolute;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-top: 100px;
    margin-left: 100px;
    width: 80px;
    height: 240px;
}

#betsGold button{
    width:50px;
    font-family: digital;
    background-color: rgb(235, 247, 136,0.4);
    border:hidden;
}

#odds {
    display: flex;
    position:absolute;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-top: 100px;
    margin-left:950px;
    width: 30px;
    height: 240px;
    
}

#odds p{
    background-color: rgb(235, 247, 136,0.4);
    text-align: center;
}

#windiv {
    position:relative;
    display:none;
}

#win {
    position: absolute;
    width:1024px;
    height:576px;

}


#texticulo {
    font-family: digital;
    display: flex;
    position:absolute;
    flex-direction: column;
    align-items:center;
    justify-content: space-around;
    margin-top: 430px;
    margin-left: 58px;
    width:900px;
    height: 120px;
}

#texticulo .winner {
    position:relative;
    text-align: center;
    width:900px;
    height: 60px;
    margin: 5px;
}

#demonT {
    position:absolute;
    margin-top: 275px;
    /* margin-left: 0px; */
    scale: 5;
    animation-duration:400s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-name:crossing;
}

@keyframes crossing {
    from { margin-left: 70px; }
    to   { margin-left: 900px; }
    
}

#losediv {
    position:relative;
    display:none;
}

#lose {
    position: absolute;
    display: none;
    width:1024px;
    height:576px;
}

#texticulolose {
    font-family: digital;
    display: flex;
    position:absolute;
    flex-direction: column;
    align-items:center;
    justify-content: space-around;
    margin-top: 430px;
    margin-left: 60px;
    width:900px;
    height: 120px;
}

#texticulolose .lose {
    color: yellow;
    position:relative;
    text-align: center;
    width:900px;
    height: 60px;
    margin: 5px;
    font-size:1.5em;
}

#demonTrue {
    position:absolute;
    margin-top: 30px;
    scale: 1;
    animation-duration:6000s;
    animation-direction: normal;
    animation-iteration-count: 1;
    animation-name:crossinglose;
}

@keyframes crossinglose {
    0%   {left: 0px;}
    1%  {left: 305px;}
    100%  {left: 305px;}
}

